Style_Vapor_Android RCDATA "styles\\AndroidVapor.style"
Style_Calypso_Android RCDATA "styles\\Calypso_Android.style"
Style_Calypso_iOS RCDATA "styles\\Calypso_iOS.style"
Style_Calypso_Mac RCDATA "styles\\Calypso_Mac.style"
Style_Calypso_Windows RCDATA "styles\\Calypso_Win.style"
Style_Vapor_iOS RCDATA "styles\\iOSVapor.style"
Style_Vapor_Mac RCDATA "styles\\Vapor.style"
Style_Vapor_Windows RCDATA "styles\\Vapor.Win.style"
Style_Wedgewood_Android RCDATA "styles\\WedgewoodLight_Android.style"
Style_Wedgewood_iOS RCDATA "styles\\WedgewoodLight_iOS.style"
Style_Wedgewood_Mac RCDATA "styles\\WedgewoodLight_Mac.style"
Style_Wedgewood_Windows RCDATA "styles\\WedgewoodLight_Win.style"
Style_Emerald_Android RCDATA "styles\\AndroidEmeraldCrystal.style"
Style_Emerald_Windows RCDATA "styles\\EmeraldCrysta.Winl.style"
Style_Emerald_Mac RCDATA "styles\\EmeraldCrystal.style"
Style_Emerald_iOS RCDATA "styles\\iOSEmeraldCrystal.style"
